<div class="transparent">
  <h3>League Players:</h3>
    <br>
    <div *ngFor="let player of players | async" class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li (click)="goToDetailPage(player)"><strong>{{player.name}}</strong>, <em>{{player.team}}</em></li>
          <div *ngIf="currentRoute === '/admin/(content:edit-player)'">
            <!-- <p>{{player.$key}}</p> -->
            <button [routerLink]="admin/[{outlets: { content:['edit-player'] } }]">Edit/Delete</button>
          </div>
        </ul>
      </div>
    </div>
</div>
