<div class="container">

  <h1 class="title">{{title}}</h1>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">About</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="teams">Teams</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="players">Players</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="schedule">Schedule</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="admin">Admin</a>
      </div>
    </div>
  </nav>

  <br>
  <div class="main-outlet">
    <router-outlet></router-outlet>
  </div>

</div>
