.title {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 76px;
}

.navbar-default {
  background-color: #a52a2a;
}

.navbar-default a {
  color: white;
}

.main-outlet {
  padding: 12px;
}

footer {
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: green;
}
