.col-md-1, .col-md-2, .col-md-3 {
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: rgba(0,0,0,0.3);
}

.title {
  font-weight: bold;
  background-color: #ffcc99 !important;
}
.row, .filter {
  background-color: white;
}

.filter {
  background-color: #ffcc99;

}
