<br>
<br>
<div class="schedule">
  <div class="row">
    <div class="col-md-3">
      <h4>Team 1</h4>
    </div>
    <div class="col-md-3">
      <h4>Team 2</h4>
    </div>
    <div class="col-md-3">
      <h4>Time</h4>
    </div>
    <div class="col-md-3">
      <h4>Field</h4>
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let game of games | async ">
    <div class="col-md-3">
      <p>{{game.team1}}</p>
    </div>
    <div class="col-md-3">
      <p>{{game.team2}}</p>
    </div>
    <div class="col-md-3">
      <p>{{game.date}}</p>
    </div>
    <div class="col-md-3">
      <p>{{game.field}}</p>
    </div>
  </div>
</div>
