<div class="schedule">
  <div class="filter">
    <h3>Filter Teams:</h3>
    <select (change)="onChange($event.target.value)">
      <option selected>All Games</option>
      <option *ngFor="let team of teams | async">{{team.name}}</option>
    </select>
  </div>
  <br>
  <br>
  <div class="row title">
    <div class="col-md-2">
      <h4>Home</h4>
    </div>
    <div class="col-md-1">
      <h4></h4>
    </div>
    <div class="col-md-2">
      <h4>Away</h4>
    </div>
    <div class="col-md-1">
      <h4></h4>
    </div>
    <div class="col-md-3">
      <h4>Date</h4>
    </div>
    <div class="col-md-3">
      <h4>Field</h4>
    </div>
  </div>
  <div class="row" *ngFor="let game of games | async | game:filterByTeamName | game:filterByTeam">
    <div class="col-md-2">
      <p>{{game.team1}}</p>
    </div>
    <div class="col-md-1">
      <p>{{game.team1Score}}</p>
    </div>
    <div class="col-md-2">
      <p>{{game.team2}}</p>
    </div>
    <div class="col-md-1">
      <p>{{game.team2Score}}</p>
    </div>
    <div class="col-md-3">
      <p>{{game.date}}</p>
    </div>
    <div class="col-md-3">
      <p>{{game.field}}</p>
    </div>
  </div>
</div>
