<div class="admin">
  <ul><strong>Players:</strong>
    <li><a routerLink="/admin/add-player">Add player</a></li>
    <li><a routerLink="/admin/edit-player">Edit player</a></li>
  </ul>
  <hr>
  <ul><strong>Teams:</strong>
    <li><a routerLink="/admin/add-team">Add team</a></li>
    <li><a routerLink="/admin/edit-team">Edit team</a></li>
  </ul>
  <hr>
  <ul><strong>Games:</strong>
    <li><a routerLink="/admin/add-game">Add game</a></li>
    <li><a routerLink="/admin/edit-game">Edit game</a></li>
  </ul>
</div>
