<h5>**The following tools are only to be used by team managers**</h5>

<div class="container">
  <p>Players:</p>
    <a routerLink="/admin/add-player">Add player</a>
    <br>
    <a routerLink="/admin/edit-player">Edit player</a>
    <br>
    <br>

  <p>Teams:</p>
    <a routerLink="/admin/add-team">Add team</a>
    <br>
    <a routerLink="/admin/edit-team">Edit team</a>
    <br>
    <br>

  <p>Games:</p>
    <a routerLink="/admin/add-game">Add game</a>
    <br>
    <a routerLink="/admin/edit-game">Edit Schedule</a>
  </div>
