<br>
<br>
<div class="schedule">
  <div class="row title">
    <div class="col-md-2">
      <h4>Home</h4>
    </div>
    <div class="col-md-2">
      <h4>Away</h4>
    </div>
    <div class="col-md-2">
      <h4>Time</h4>
    </div>
    <div class="col-md-3">
      <h4>Field</h4>
    </div>
    <div class="col-md-3">
      <h4>Update/Delete</h4>
    </div>
  </div>
  <div class="row" *ngFor="let game of games | async ">
    <div class="col-md-2">
      <input [(ngModel)]="game.team1">
    </div>
    <div class="col-md-2">
      <input [(ngModel)]="game.team2">
    </div>
    <div class="col-md-2">
      <input [(ngModel)]="game.date">
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="game.field">
    </div>
    <div class="col-md-3">
      <button (click)="beginUpdatingGame(game)">Update</button>
      <button (click) ="beginDeletingGame(game)">Delete</button>
    </div>
  </div>
</div>
