<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add new game to the schedule:</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Home Team:</label>
        <br>
        <input #newTeam1>
      </div>

      <div>
        <label>Away Team:</label>
        <br>
        <input #newTeam2>
      </div>

      <div>
        <label>Time:</label>
        <br>
        <input #newDate>
      </div>

      <div>
        <label>Field:</label>
        <br>
        <input #newField>
      </div>

      <button (click)="submitForm(newTeam1.value, newTeam2.value, newDate.value, newField.value); newTeam1.value=''; newTeam2.value=''; newDate.value=''; newField.value=''">Add</button>
    </div>
  </div>
</div>
<br>
<app-schedule><app-schedule>
